@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.main-title{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    h1{
        margin-top:0;
        font-family: "Quicksand";
        font-size: 25px;
        font-weight: 500;
    }
    .underline{
        position: relative;
        height: 1px;
        background-color: black;
        width: 15rem;
    }
}