.fuel-form{
    position: relative;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1C1B20;
    border-radius: 5px;
    width: 40%;
    border: 1px solid black;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 36px 0px;
    padding-bottom: 1rem;
    .form-header{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: white;
        font-family: 'Quicksand';
        font-weight: 500;
        align-items: center;
        justify-content: center;
        height: 5rem;
        width: 100%;
    }
    .underline{
        position: relative;
        height: 1px;
        background-color: rgb(255, 255, 255);
        width: 15rem;
    }
    .redirect-info{
        padding-top: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        color: white;
        font-family: 'Quicksand';
        font-weight: 500;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .fuel-form{
        width: 400px;
        .fuel-header{

        }
    }

    @media only screen and (max-width: 800px) {
        .fuel-form{
            width: 300px;
            .fuel-header{
    
            }
        }
       }    
}
